header {
  padding: 0px;
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

#map {
  text-align: center;
}

#mapCanvas {
  display: inline-block;
  width: 35%;
  height: 35%;
}

table {
  margin: 20px;
  width: 30%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.navbar-brand {
  background-image: url("../images/mascot.png");
  background-repeat: no-repeat;
  background-position: center;
  width:50px; /* give width to the element as per your image size*/
  height:50px; /* give height to the element as per your image size*/
  background-size: 70px; /* this will make sure the entire image is visible and adjust the size to fit within*/
  text-indent: -9999px; /* remove the text from the element */
}
